.detail-container {
	/* background: #fbfbfb; */
	border-radius: 8px;
	box-shadow: 1px 2px 8px (0, 0, 0, 0.65);
	margin: 6rem auto 8.1rem auto;
	height: 400px;
	width: 400px;
	background-image: linear-gradient(to top left, #ffafbd, #ffc3a0);
	box-shadow: 0 5px 8px 0 #ebdbdb33, 0 7px 20px 0 rgba(142, 118, 118, 0.2);
	border: 1px solid lightcyan;
}

#detailContents {
	margin-top: 50px;
}

#pType {
	color: rgb(252, 135, 155);
}

#jobName {
	font-style: italic;
	opacity: 0.7;
	color: rgb(133, 119, 119);
}

#jobDesc {
	color: rgb(145, 142, 142);
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 400px;
}

#form {
	/* background: #fbfbfb; */
	border-radius: 8px;
	height: 400px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-bottom: 100px;
}

#contactSeller {
	color: rgb(135, 123, 123);
	font-size: 20px;
	margin-top: -3px;
	margin-bottom: -5px;
}

#nameLabel,
#emailLabel,
#descLabel {
	color: rgb(171, 154, 154);
	font-weight: bold;
}

#name,
#email,
#description {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100px;
	background-image: linear-gradient(to top, #eecda3, #e393b6);
}
#email {
	width: 200px;
}

#description {
	width: 300px;
	height: 150px;
}

.send-btn {
	background: linear-gradient(to top, #eecda3, #e393b6);
	border: none;
	border-radius: 21px;
	box-shadow: 0px 1px 8px pink;
	cursor: pointer;
	color: rgb(157, 140, 140);
	font-family: "Raleway SemiBold", sans-serif;
	height: 42.3px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	transition: 0.25s;
	width: 153px;
}
.send-btn:hover {
	box-shadow: 0px 1px 18px pink;
	border: 0.1em solid #ffffff;
	background-color: pink;
	transform: scale(1.1);
}

@media screen and (max-width: 600px) {
	#jobDesc {
		width: 300px;
	}
}
