.sign-container {
    /* border: 1px solid red; */
    height: 16px;
    width: 53px;
}

.modal-sign {
    border: 1px solid black;
    position: relative;
    top: 200px; right: 640px;
    width: 310px;
}