.card-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-flow: row-reverse;
    width: 600px;
    height: 300px;
}

.job {

}

.type {

}

.description {

}

.budget {

}