.SlideDiv,
.slide {
	text-align: center;
	position: relative;
}

.sliderImg {
	display: block;
	object-fit: cover;
	width: 100%;
	z-index: -100;
	position: relative;
}

.sliderName {
	padding-bottom: 10px;
	font-weight: bold;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 24px;
	color: pink;
	background-color: rgba(115, 222, 105, 0.3);
	z-index: 100;
	position: relative;
	margin-top: -50px;
	margin-bottom: 40px;
}

@media screen and (max-width: 800px) {
	.sliderName {
		font-size: 16px;
		display: block;
		text-align: center;
	}
}
