.footer {
	/* position: sticky; */

	right: 0;
	bottom: 0;
	left: 0;
	background-image: #3feee6;
	background-image: linear-gradient(to bottom right, #eecda3, #ef629f);
	/* bottom: 0;
  left: 0; */
	width: 100%;
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
	word-spacing: 5px;
	align-items: center;
	color: gainsboro;
	padding-bottom: 15px;

	/* margin-top: 140px; */
	/* flex-shrink: 0; */
}

body {
	position: relative;
	min-height: 100%;
	min-height: 100vh;
}
@media screen and (max-width: 600px) {
	.footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
}
