.filter-container {
	display: flex;
	order: 0;
	flex-direction: column;
	height: auto;
	border: 1px solid lightcyan;
	background-image: linear-gradient(to top left, #ffafbd, #ffc3a0);
	border-radius: 5px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
	width: 60%;
	height: 100%;
	justify-content: space-between;
	margin: auto;
}

#budget_input {
	width: 30px;
	cursor: pointer;
}
.mainview {
	display: flex;
	flex-direction: column;
}

li {
	list-style-type: none;
}

.budget-filter {
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: 50px 50px;
	letter-spacing: 1.5px;
	padding-top: 10px;
	font-size: 14px;
	color: rgb(135, 127, 127);
	margin-bottom: 10px;
	margin-top: 10px;
}

#filterBy {
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 2px;
}

#optionFilter {
	border-radius: 40px;
}

#filterByType {
	padding-top: 10px;
	color: rgb(165, 157, 157);
}

@media screen and (max-width: 600px) {
	.filter-container {
		margin: 10px auto;
		height: 300px;
		top: 10px;
		left: 0px;
	}
	.budget-filter {
		display: grid;
		grid-auto-flow: column;
		grid-template-rows: 50px 50px 50px 50px 100px;
	}
}
