.contactUs {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

#cName,
#cMessage,
#contactButton {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	font-family: helvetica;
}

#cMessage {
	height: 150px;
	width: 327px;
	position: relative;
	top: 20px;
}
#contactButton {
	/* padding: 9px; */
	/* border: 1px solid #ccc; */
	/* background-color: rgb(235, 106, 235); */
	/* color: white; */
  background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #24c64f;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}
#contactButton:hover {
  	box-shadow: 0px 1px 18px #24c64f;
	border:0.1em solid #FFFFFF;
    background-color: lightcyan;
    transform: scale(1.1);
}

.contactForm {
	background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    margin: 6rem auto 8.1rem auto;
	height: 400px;
	width: 400px;
}

#cName {
	width: 330px;
	position: relative;
	top: 20px
}