label {
    text-decoration: none;
}

.bid-input {
    width: 200px;
    
}

.bid-btn {
    width: 100px;
}

@media screen and (max-width: 600px) {
	.bid-input {
		width: 100px;
	}
    bid-btn {
        width: 100px;
    }
}
