.submit-form {
	background: rgb(235, 220, 220);
	border-radius: 8px;
	box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
	margin: 6rem auto 8.1rem auto;
	height: 380px;
	width: 350px;
	padding-top: 30px;
	margin-top: 20px;
}

.signup-btn {
	background: linear-gradient(to top, #D65F2F, #CE9D91);
	border: none;
	border-radius: 21px;
	box-shadow: 0px 1px 8px #EDC0A0;
	cursor: pointer;
	color: white;
	font-weight: bold;
	font-family: "Raleway SemiBold", sans-serif;
	height: 42.3px;
	margin: 0 auto;
	margin-top: 35px;
	transition: 0.25s;
	width: 153px;
}
.signup-btn:hover {
	box-shadow: 0px 1px 18px #EDC0A0;
	border: 0.1em solid #ffffff;
	background-color: lightcyan;
	transform: scale(1.1);
}

#username,
#email,
#password {
	background-image: linear-gradient(to top, #CE9D91, #D65F2Fb6);
	width: 130px;
}

.email {
	margin-bottom: 10px;
}

.signup-content {
	color: #F9F9F9;
	display: grid;
	flex-direction: column;
	justify-content: center;
	margin-top: -25px;
	padding-bottom: 15px;
}

@media screen and (max-width: 600px) {
	.signup-content {
		font-size: 24px;
	}
	.submit-form {
		height: 470px;
	}
	#username,
	#email,
	#password {
		height: 20px;
	}
}
